// Navigation code here

#top {
    width: 100%;
    margin: @margin;
    .border();
    
    
        .space{
            text-align: center;
            font-size: 4.2rem;
            font-family: @nav-font;
            padding-bottom: 2%;
            background-color: @nav-bg;
            padding-top: 20px;

        }
        .navbar {
            width: 100%;
            margin: @margin;
            text-align: center;
            padding-bottom: 2%;
            font-size: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: nowrap;
            background-color: @nav-bg;
                a {
                    text-decoration: none;
                    padding-left: 20px;
                    .font();
                }
        }
}