// Navigation code here

#top {
    width: 100%;
    background-color: @nav-bg
    
        .space{
            text-align: center;
            font-size: 4.2rem;
            font-family: @nav-font;
            padding-bottom: 2%;

        }
        .navbar {
            width: @width;
            margin: @margin;
            text-align: center;
            padding-bottom: 2%;
            font-size: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: nowrap;
                a {
                    text-decoration: none;
                    font-family: @nav-font;
                    color: @main-font-color;
                    padding-left: 20px;
                }
        }
}